<p>lazy works!</p>


<p>lazy works!</p>

<p>
Start editing to see some magic happen lazy :)
</p>
<h2>{{ message1$ | async }}</h2>

<button (click)="spanishMessage()">Spanish</button>
<button (click)="frenchMessage()">French</button>

<div *ngIf="lazy$ | async as p">
<h2>{{ p.text }}</h2>
<h4>Votes: {{ p.likes }}</h4>
</div>

<br/>
<button (click)="up()">Up</button>
<button (click)="down()">down</button>
<button (click)="reset()">reset</button>
<input [(ngModel)]="text" />
<button (click)="change()">edit</button>

<br/>

<input [(ngModel)]="strings" />
<button (click)="addStrings()">AddString</button>